
// // Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$primary-color: #88BBD6;
$secondary-color: #99D3DF;

$color-grey-1: #CDCDCD;
$color-grey-2: #E9E9E9;

$color-white: #fff;
